/* EXPAND */
.expand {
  margin-bottom: 24px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-bottom: 1px solid #eee;
  clear: both;
}
.expand.close {
  height: 48px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  overflow: hidden;
  clear: both;
  -moz-transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
.expand.close h3, .expand.close h2 {
  color: #444;
  border-bottom: none;
  -moz-transition: color 0.1s ease-in-out;
  -webkit-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.expand.close .handle {
  line-height: 52px;
  opacity: .4;
}
.expand.close:hover {
  background: rgba(0, 79, 39, 0.03);
}
.expand.close:hover h3, .expand.close:hover h2 {
  color: #004f27;
}
.expand.close:hover .handle {
  opacity: .6;
}
.expand h3, .expand h2 {
  color: #004f27;
  cursor: pointer;
  font-weight: 600;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 6px;
  padding-top: 3px;
  padding-bottom: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.expand .handle {
  float: right;
  font-size: 18px;
  line-height: 47px;
  /*52*/

  opacity: 1;
}
.expand.close:hover .handle {
  opacity: 1;
}